* {
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box; 
}

body {
    background: #E5E5E5;
    height: 100%;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin: 20px;
}

#logo {
    width: auto;
    height: 48px;
}

textarea {
    resize: none;
    background-color: #E5E5E5;
    width: 100%;
    max-width: 1000px; 
    height: 300px;
    color: #0A3871;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 20px;
    padding: 10px;
}

.output {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 500px;
    padding: 20px;
    background: #FFFFFF;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
    overflow: hidden;
    margin-top: 20px;
}

#output {
    width: 100%;
    height: 200px;
    background-color: white;
    background-position-y: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    font-weight: 400;
    font-size: 16px;
}

#output:hover {
    cursor: default; 
}

.output-image {
    background-image: url("imagenes/imagen.png");
    background-size: cover;
}

.output > p {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    text-align: center; /* Centrar el texto */
}

#alert {
    margin-bottom: 160px;
    display: flex;
    align-items: center;
    gap: 10px;
}

#alert > img {
    width: 16px;
}

#alert > p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #495057;
    opacity: 0.8;
}

.botones {
    display: flex;
    flex-direction: row; /* Cambiado a fila */
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

button {
    height: 50px;
    width: 100%;
    max-width: 160px; /* Ajustado el ancho máximo para que los botones sean más pequeños */
    border-radius: 24px;
    padding: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

#encriptar {
    color: white;
    background-color: #0A3871;
}

#desencriptar {
    background-color: #D8DFE8;
    border: 1px solid #0A3871;
}

#copiar {
    background-color: #e3e9f0;
    border: 1px solid #0A3871;
    color: #0A3871;
}

#limpiar {
    color: white;
    border: 1px solid #0A3871;
    background-color: #0A3871;
}

button:hover {
    cursor: pointer;
}

@media (max-width: 1024px) {
    main {
        flex-direction: column;
        align-items: center;
    }

    textarea, .output {
        width: 90%;
        max-width: none;
    }

    button {
        width: 45%; /* Ajustado para que los botones ocupen el 45% del contenedor */
    }
}

@media (max-width: 600px) {
    textarea, .output {
        width: 100%;
    }

    button {
        width: 48%; /* Ajustado para que los botones ocupen el 48% del contenedor */
        font-size: 14px;
    }

    h3 {
        font-size: 20px;
    }
}
